:root {
  --background-color: #6dbddd;
  --list-background-color: rgba(255, 255, 255, 0.466);
  --white: #ffffffb7;
  --secondary-text: #757575;
  --list-text-color: #072c70;
}

body {
  background-color: var(--background-color);
  background-image: url("./images/app-bkgrd.jpg");
  background-size: cover;
  background-position: center;
}

#earthquake-list {
  background-color: var(--list-background-color);
  padding: 2rem;
}

#page-header {
  padding-top: 3.5rem;
  color: var(--white);
  text-align: center;
}

.page-title {
  font-family: "Alfa Slab One", cursive;
  font-size: 5.5rem;
  text-align: center;
}

.page-header-text {
  font-size: 2rem;
  font-style: oblique;
  font-family: "Didact Gothic", sans-serif;
}

.center-content {
  margin: 0 auto;
  width: 60%;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.list-item {
  width: 100%;
  background-color: var(--white);
  border-radius: 16px;
  padding-bottom: 0.5rem;
  margin: 1rem 0;
  font-size: 1.25rem;
}

.list-item-header {
  width: 100%;
  background-color: #6dbddd;
  text-align: center;
  padding: 0.5rem;
}

.list-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0.5rem auto;
  color: var(--list-text-color);
  flex-wrap: wrap;
}

.list-location {
  font-size: 1.5rem;
}

.list-mag {
  font-weight: 700;
}

.location-name {
  font-weight: 700;
  font-style: oblique;
}

.list-time {
  color: var(--secondary-text);
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-more {
  cursor: pointer;
  font-style: oblique;
  font-size: 1.4rem;
  display: flex;
}

.list-more:hover {
  color: var(--background-color);
}

.quake-modal-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.quake-modal-column {
  flex-direction: column;
  padding: 0.5rem;
}

.quake-modal-column ul {
  font-size: 1.2rem;
  color: var(--secondary-text);
}

.quake-modal-column ul li {
  margin-bottom: 1rem;
}

.quake-detail-bold {
  font-weight: 700;
}

@media (max-width: 1024px) {
  .center-content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .location-name {
    display: block;
  }

  .center-content {
    width: 95%;
  }

  .page-title {
    font-size: 4rem;
  }

  .list-time {
    font-size: 1rem;
  }

  .quake-modal-column {
    flex: none;
  }

  .quake-modal-content {
    text-align: center;
  }
}

@media (max-width: 576px) {
  #earthquake-list {
    background-color: transparent;
    padding: 0.5rem;
  }

  .page-title {
    font-size: 2.5rem;
  }

  .page-header-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  .quake-modal-column img {
    max-width: 90%;
  }

  .quake-modal-column ul li {
    font-size: 1rem;
  }
}
